**Statistcs** : 2 types, descriptive and Inferential statistics

In [486]:
#Descriptive Statistics 
#In measure of central tendency
#mean, median, mode

## Measure of central tendency

In [487]:
#mean 

import numpy as np
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.mean(X)

4.2

In [488]:
print("mean : ", np.mean(X))

mean :  4.2

In [489]:
#created the list into a table format
import pandas as pd
z=pd.DataFrame(data={'values': [1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]})
z

    values
0        1
1        2
2        3
3        1
4        2
5        3
6        4
7        5
8        2
9        6
10       7
11       5
12       4
13       8
14      10

In [490]:
#mean using pandas
z.mean()

values    4.2
dtype: float64

In [491]:
z.describe()

          values
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [492]:
#median
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.median(X)

4.0

In [493]:
print("median : ", np.median(X))

median :  4.0

In [494]:
#using pandas
z.median()

values    4.0
dtype: float64

In [495]:
z.describe()

          values
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [496]:
#mode
#numpy does not has an attribute mode

In [497]:
#using pandas
z.mode()

   values
0       2

In [498]:
#descriptive statistics
#measure of dispersion
#variance and std deviation

## Measure of Dispersion

In [499]:
#variance
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.var(X)

6.5600000000000005

In [500]:
print("Variance : ", np.var(X))

Variance :  6.5600000000000005

In [501]:
#using pandas
z.var()

values    7.028571
dtype: float64

In [502]:
#standard deviation
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.std(X)

2.5612496949731396

In [503]:
print("Variance : ", np.std(X))

Variance :  2.5612496949731396

In [504]:
#using pandas
z.std()

values    2.651145
dtype: float64

## 5 number Summary


1.   Minimum
2.   1st quartile -Q1
3.   2nd quartile -Q2(Median)
4.   3rd quartile -Q3
5.   Maximum

In [505]:
#Minimum
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.min(X)

1

In [506]:
print("Minimum : ", np.min(X))

Minimum :  1

In [507]:
#using pandas
z.min()

values    1
dtype: int64

In [508]:
#quartiles
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.quantile(X,[0.25,0.50,0.75])

array([2. , 4. , 5.5])

In [509]:
print("Q1 : ", np.quantile(X,0.25),
      "Q2 : ", np.quantile(X,0.50),
      "Q3 : ", np.quantile(X,0.75))

Q1 :  2.0 Q2 :  4.0 Q3 :  5.5

In [510]:
#using pandas
z.quantile([0.25,0.50,0.75])

      values
0.25     2.0
0.50     4.0
0.75     5.5

In [511]:
z.describe()

          values
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [512]:
#Maximum
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.max(X)

10

In [513]:
print("Maximum : ", np.max(X))

Maximum :  10

In [514]:
#using pandas
z.max()

values    10
dtype: int64

## Range

In [515]:
#Range
#using numpy

Ran=np.max(X) - np.min(X)
Ran

9

In [516]:
#using pandas
Range = z.max()-z.min()
Range

values    9
dtype: int64